<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension
         point="org.eclipse.core.runtime.applications"
         id="HydraConstraintsEditorAdvisorApplication">
      <application>
         <run class="HydraConstraints.presentation.HydraConstraintsEditorAdvisor$Application"/>
      </application>
   </extension>

   <extension point="org.eclipse.ui.perspectives">
      <perspective
            name="%_UI_Perspective_label"
            class="HydraConstraints.presentation.HydraConstraintsEditorAdvisor$Perspective"
            id="HydraConstraints.presentation.HydraConstraintsEditorAdvisorPerspective">
      </perspective>
   </extension>

   <extension point="org.eclipse.ui.commands">
      <command
            name="%_UI_Menu_OpenURI_label"
            description="%_UI_Menu_OpenURI_description"
            categoryId="org.eclipse.ui.category.file"
            id="HydraConstraints.presentation.HydraConstraintsEditorAdvisorOpenURICommand"/>
   </extension>


   <extension point="org.eclipse.ui.actionSets">
      <actionSet
            label="%_UI_HydraConstraintsEditorAdvisor_ActionSet_label"
            visible="true"
            id="HydraConstraintsEditorAdvisorActionSet">
         <action
               label="%_UI_Menu_About_label"
               class="HydraConstraints.presentation.HydraConstraintsEditorAdvisor$AboutAction"
               menubarPath="help/additions"
               id="HydraConstraints.presentation.HydraConstraintsEditorAdvisorAboutAction"/>
         <action
               label="%_UI_Menu_OpenURI_label"
               definitionId="HydraConstraints.presentation.HydraConstraintsEditorAdvisorOpenURICommand"
               class="HydraConstraints.presentation.HydraConstraintsEditorAdvisor$OpenURIAction"
               menubarPath="file/additions"
               id="HydraConstraints.presentation.HydraConstraintsEditorAdvisorOpenURIAction"/>
      </actionSet>
   </extension>

   <extension point="org.eclipse.ui.actionSets">
      <actionSet
            label="%_UI_HydraConstraintsModelWizard_ActionSet_label"
            visible="true"
            id="HydraConstraints.presentation.HydraConstraintsActionBarContributorActionSet">
         <action
               label="%_UI_HydraConstraintsModelWizard_label"
               class="HydraConstraints.presentation.HydraConstraintsActionBarContributor$NewAction"
               menubarPath="file/new/additions"
               id="HydraConstraints.presentation.HydraConstraintsActionBarContributorNewAction"/>
      </actionSet>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="HydraConstraints.presentation.HydraConstraintsEditorID"
            name="%_UI_HydraConstraintsEditor_label"
            icon="icons/full/obj16/HydraConstraintsModelFile.gif"
            extensions="hydraconstraints"
            class="HydraConstraints.presentation.HydraConstraintsEditor"
            contributorClass="HydraConstraints.presentation.HydraConstraintsActionBarContributor">
      </editor>
   </extension>

</plugin>
