<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="syntax.resource.constraint.mopp.ConstraintMetaInformation" id="syntax.resource.constraint.mopp.ConstraintMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension id="syntax.resource.constraint.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
		<super type="org.eclipse.emf.ecore.diagnostic">
		</super>
	</extension>
	
	<extension id="syntax.resource.constraint.problem.syntax_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="syntax.resource.constraint.problem">
		</super>
	</extension>
	
	<extension id="syntax.resource.constraint.problem.print_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="syntax.resource.constraint.problem">
		</super>
	</extension>
	
	<extension id="syntax.resource.constraint.problem.unresolved_reference" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="syntax.resource.constraint.problem">
		</super>
	</extension>
	
	<extension id="syntax.resource.constraint.problem.analysis_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="syntax.resource.constraint.problem">
		</super>
	</extension>
	
	<extension id="syntax.resource.constraint.problem.builder_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="syntax.resource.constraint.problem">
		</super>
	</extension>
	
	<extension id="syntax.resource.constraint.nature" name="constraint nature" point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="syntax.resource.constraint.mopp.ConstraintNature">
			</run>
		</runtime>
		<builder id="syntax.resource.constraint.builder">
		</builder>
	</extension>
	
	<extension point="org.eclipse.core.resources.builders" id="syntax.resource.constraint.builder" name="constraint Builder">
		<builder hasNature="true">
			<run class="syntax.resource.constraint.mopp.ConstraintBuilderAdapter">
			</run>
		</builder>
	</extension>
	
	<extension-point id="syntax.resource.constraint.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd">
	</extension-point>
	
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="syntax.resource.constraint.mopp.ConstraintResourceFactoryDelegator" type="constraint">
		</parser>
	</extension>
	
	<extension-point id="syntax.resource.constraint.additional_extension_parser" name="Additional Extension Parser" schema="schema/additional_extension_parser.exsd">
	</extension-point>
	
	<extension point="org.eclipse.debug.core.breakpoints">
		<breakpoint class="syntax.resource.constraint.debug.ConstraintLineBreakpoint" id="syntax.resource.constraint.debug.breakpoint" markerType="syntax.resource.constraint.debug.lineBreakpoint.marker" name="constraint Breakpoint">
		</breakpoint>
	</extension>
	
	<extension id="syntax.resource.constraint.debug.lineBreakpoint.marker" point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.debug.core.lineBreakpointMarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
		<persistent value="true">
		</persistent>
	</extension>
	
	<extension point="org.eclipse.debug.core.launchConfigurationTypes">
		<launchConfigurationType id="syntax.resource.constraint.ui.launchConfigurationType" delegate="syntax.resource.constraint.launch.ConstraintLaunchConfigurationDelegate" modes="run,debug" name="constraint Application" sourceLocatorId="syntax.resource.constraint.ui.sourceLocator" sourcePathComputerId="syntax.resource.constraint.ui.sourcePathComputer" delegateName="constraint Launch Tooling" delegateDescription="This will run or debug .constraint files.">
		</launchConfigurationType>
	</extension>
	
	<extension point="org.eclipse.debug.core.sourcePathComputers">
		<sourcePathComputer class="syntax.resource.constraint.debug.ConstraintSourcePathComputerDelegate" id="syntax.resource.constraint.ui.sourcePathComputer">
		</sourcePathComputer>
	</extension>
	
	<extension point="org.eclipse.debug.core.sourceLocators">
		<sourceLocator id="syntax.resource.constraint.ui.sourceLocator" class="syntax.resource.constraint.debug.ConstraintSourceLocator" name="constraint Source Locator">
		</sourceLocator>
	</extension>
	
</plugin>
