<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="specializationModel.presentation.SpecializationModelModelWizardID"
            name="%_UI_SpecializationModelModelWizard_label"
            class="specializationModel.presentation.SpecializationModelModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/emf_diagram2.png">
         <description>%_UI_SpecializationModelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="specializationModel.presentation.SpecializationModelEditorID"
            name="%_UI_SpecializationModelEditor_label"
            icon="icons/full/obj16/emf_diagram2.png"
            extensions="hydra_cfg"
            class="specializationModel.presentation.SpecializationModelEditor"
            contributorClass="specializationModel.presentation.SpecializationModelActionBarContributor">
      </editor>
   </extension>

</plugin>
